body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 50px;
}
.text-container {
  display: flex;
  justify-content: center;
  font-size: large;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-links {
  list-style-type: none;
}
@media screen and (max-width: 640px) {
  nav {
    z-index: 100;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  nav {
    flex-direction: column;
    width: 100%;
    background-color: #8bd037;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }

  nav.active {
    display: flex;
  }

  li {
    margin: 10px 0;
  }
}

/* right and left sections start */

.container2 {
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.left-section {
  flex: 0 1 60%;
  padding: 20px;
}

.right-section {
  z-index: 2;
  flex: 0 1 30%;
}

.left-section h2 {
  font-weight: bold;
  font-size: 4.5em;
  margin-bottom: 10px;
  color: black;
}
span {
  color: greenyellow;
}

.left-section p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  background-color: #c9fe73;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin-right: 10px;
  transform: scale(1);
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background-color: greenyellow;
}
.btn.scale-animation {
  animation: scaleInOut 0.2s infinite alternate;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.right-section img {
  z-index: 2;
  width: 400px;
  height: auto;
}

/* right and left sections end */

.text-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.container3 {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  overflow-x: hidden;
}
.container3 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

section {
  width: 45%;
  padding: 20px;
  border-radius: 5px;
}

.left {
  background-color: #ffffff;
}

.right {
  background-color: #ffffff;
}

@media screen and (max-width: 640px) {
  .container3 {
    flex-direction: column;
    height: auto;
  }

  section {
    width: 90%;
    margin-bottom: 20px;
  }
}

/* footer start */
/* Default styling */
.shop-footer {
  background-color: #c9fe73;
  color: black;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  width: 25%;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 1em;
  margin: 5px 0;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.footer-section ul li {
  margin-bottom: 5px;
  text-decoration: none;
}
.footer-section ul li a {
  color: black;
  text-decoration: none;
}
.footer-logo img {
  width: 50px;
  height: auto;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer-bottom {
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.8em;
}

/* Responsive styling */
@media screen and (max-width: 640px) {
  .btn {
    margin-bottom: 20px;
  }
  .left-section h2 {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: black;
  }
  span {
    color: greenyellow;
  }

  .left-section p {
    margin-bottom: 20px;
  }
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-section img {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer-bottom p {
    font-size: 0.7em;
  }
}

/* footer end */

@media screen and (max-width: 768px) {
  .container2 {
    display: flex;
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .right-section {
    order: -1;
  }
}
