@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 50px; /* Adjust the width as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.profile img {
    width: 40px; /* Adjust the width as needed */
    height: 40px;
    border-radius: 50%;
}


/* header end */

.filters {
    background-color: white;
    padding: 0px 20px;
}

.filters h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.filters label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    color: #c9ef73;
}

.categoryFilter {

    border: none;
    background-color: #c9ef73;
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    font-size: 1em;
    color: black;
    border-radius: 20px;
}
.cart {
    width: 20px;
}
.price {
    color: black;
}


.filters h2 {
    margin-bottom: 10px;
}

.product-container {
    color: white;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    border:none;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.product{
    max-width: 200px;
    height: 200px;
    transition:transform 0.5s ease-in-out;
   
}
h3{
    color: black;
    font-weight: 20%;
    font-family: 'Poppins', sans-serif;
  
}


.product:hover{
    transform: scale(1.2);

}
/* cart */
.cart-button {
    background-color: #c9ef73; 
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;


}

.cart-button:hover {
    background-color: greenyellow;
}

.cart-icon {
    margin-right: 10px; 
}
/* cart-end */



/* footer */
footer {
    text-align: center;
    padding: 20px 0;
    color: white;
}


/* footer design */
body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #c9ef73;
    color: rgb(0, 0, 0);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 25%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 0.9em;
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {

    margin-bottom: 5px;
}

.links a {
    color: rgb(38, 38, 38);
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
}

img {
    border-radius: 5px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.8em;
}

.social-icons a {
    text-decoration: none;
}
/* footer end */



/* Responsive Styles */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px 5px;
    }

    header h1 {
        font-size: 1.2em;
    }

    header span {
        display: none;
    }

    nav {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .filters {
        padding: 10px;
    }

    .filters h2 {
        padding: 10px;
        font-size: 1.2em;
    }

    .categoryFilter {
        width: 100%;
        margin-bottom: 10px;
    }

    .product-card {
        margin: 10px;
        padding: 20px;
        max-width: 100%;
    }

    .product {
        max-width: 100%;
        height: auto;
    }

    .cart-button {
        padding: 8px;
    }

    .footer-section {
        width: 100%;
        min-width: 0;
    }
}
.menu{
    display: none;
}

/* Tablet Styles */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .product-card {
        display: flex;
        flex-direction: column;
        max-width: 2cap;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 480px) {
    .header {
        padding: 20px 5px;
    }

    header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
        font-size: 1.4em;
    }

    .filters h2 {
        font-size: 1.2em;
    }

    .categoryFilter {
        width: 100%;
        margin-bottom: 10px;
    }

    .product-card {
        max-width: 100%;
    }

    .footer-section {
        margin: 10px;
        width: 100%;
        min-width: 0;
    }
}


/* toggle bar */

@media screen and (max-width: 768px) {
    .logo h1 {
        margin-left: 50px;
        align-items: center;
      font-size: 1.9em;
    }
  
    span {
      display: none;
    }
  
    .menu-toggle {
      display: block;
    }
    .menu{
        display: inline;
        margin-top: -40px;
        width: 60px;
    }
    
    nav {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #141414;
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 1;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    }
  
    nav.active {
      display: flex;
    }
  
    li {
      margin: 10px 0;
    }
}